/*heaer・右メニューの背景色：#21222e*/

body{
    background-color: #e3e4e9;
    margin:0;
    padding:0 0 0 0; 
	font-size: 14px;
	color: #444444;
	font-family: 'Helvetica Neue', Helvetica, Arial, Roboto, 'Droid Sans', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'ヒラギノ角ゴ       Pro W3', 'Hiragino Kaku Gothic ProN', sans-serif;
}

* html body{  
    overflow: hidden;  
} 

div#container{
	margin: 0 auto;
    text-align: left;
}

/*内側*/
#header{ 
    padding: 0px 55px 0px 55px;
    width: 940px;
    height:100px;
    margin-right:  auto;
    margin-left:  auto;
    
/*  text-align: center;*/
    background-color: #21222e;
    
/*
    width: 100%;  
    height: 40px;  
*/
}

/*外側*/
header{
	min-width: 1200px;
	background-color: #21222e;
	font-size: 13px;
    position: fixed !important;  
    position: absolute;  
    top: 0;  
    left: 0;  
    width: 100%;  
    height: 100px;  
}

p{  
    font-size:15px;
    color:#ffffff;
}

hr{
	border: 0;
    height: 1px;
	background-color: #ddd;
}

h1{
    font-size: 30px;
    color:#000000;
    letter-spacing:3px;
    

h2{
    color:#fff;
}

/*IE6対策*/
* html body .image-resize {
	width: expression(this.width >= this.height ? "200px" : "auto");
	height: expression(this.width <= this.height ? "200px" : "auto");
}




/*
#footer{
    padding: 10px 110px 0px 110px;
    width: 940px;
    text-align:center;
    margin-right: auto;
    margin-left: auto;
    
    position: fixed !important;  
    position: absolute;  
    bottom: 0;  
    left: 0;  
    width: 100%;  
    height: 50px;  
}

footer{
    
	min-width: 1200px;
	background-color: #fff;
	clear: both;
	margin: 0px 0px 0px 0px;
    
    position: fixed !important;  
    position: absolute;  
    bottom: 0;  
    left: 0;  
    width: 100%;  
    height: 50px;
}
*/

/*外側*/
#wrapper_box{
    padding:0;
    width:100%;
    min-width: 1200px; 
    background-color: #555174; 
/*    #196281///#238fa7*/
    margin-top:160px;/*headerの高さ40分削る*/ /*main_bar用の隙間60確保*/
    height:1200px;
}

/*内側*/
#wrapper{
    padding:0;
    width:1050px;
    height:400px;
/*    background-color:#121278;*/
    margin-right: auto;
    margin-left: auto;
}

#main{
    margin:0;
    padding:0;
/*	background-color:#ff5fff;*/
	width: 70%;
    float: left; 
    height:100%;
    
}

.clearfix {
    min-height: 1px;    /*IE6、7対策*/
}

* html .clearfix{
	height: 1px;
    /*¥*//*/ /*MAC IE5.x対策*/
	height: auto;
	overflow: hidden;
	/**/
}