/*  アイテム */
.group{
	width:120px;
	height:120px;
	background-color: #367975;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 5px;
	border-radius: 0.5em;
}

.parent{
	width:120px;
	height:120px;
	background-color: #E64D4c;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 5px;
	border-radius: 0.5em;
}

#parentname{
	width:110px;
	height:60px;
	text-align: center;
	vertical-align: middle;
	font-size: 18px;
	color:white;
	margin-top: auto;
	margin-bottom: auto;
}

#groupname{
	width:110px;
	height:60px;
	font-size: 13px;
	color:white;
	z-index: 2;
}

#grouppic{
	margin-right: auto;
	margin-left: auto;
	width:110px;
	height:50px;
	/*background-color: #fff;*//*写真が入るとこ*/
}

#nomarks{
	position: relative;
	top:-32px;
	left:80px;
	width:30px;
	height: 30px; 
	z-index: 3;
	font-size: 22px;
	color: #fff;
	text-align: center;
	background-color:#E64D4c;
	text-shadow: 1px 1px 3px #000; 
	-moz-box-shadow: 0 0 4px #2e2b2c, 0 0 1px #2e2b2c, 1px 1px 1px #2e2b2c;  
	-webkit-box-shadow: 0 0 4px #2e2b2c, 0 0 1px #2e2b2c, 1px 1px 1px #2e2b2c;  


	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}


/*カバー写真のリサイズ*/
.group img{
   max-width: 110px;
   height: auto;
   border-radius: 0.3em;
   z-index: 1;
}