@charset "UTF-8";
/* CSS Document */
body{
	background:#357672;
}

.inner{
	background:#ffffff;
	width: 600px;
	height: 300px;
	margin: 10% auto;
}

.inner #login{
	height: 100%;
	background: url(../images/logo_3.gif) no-repeat center;
	background-size: 200px 200px;
}

.inner #login ul{
	height: 100%;
	list-style-type: none;
	padding: 20px 0;
	text-align: center;
}

.inner #login ul li{
	width: 100%;
}

.inner #login ul li p{
	color: #00334a;
	margin: 10px auto;
}