html,body{
     height:100%;
}
#wrap{
     width: 100%;
     position: relative;
     height:auto !important; /*IE6対策*/
     height: 100%; /*IE6対策*/
     min-height: 100%;
}

nav {
	list-style: none;
  min-width: 940px;
  margin-bottom: 100px;
}


ul li {
	float: right;
}

.clear{
	clear: both;
}

.navbar-collapse {
  display: block !important;
  height: auto !important;
  padding-bottom: 0;
  overflow: visible !important;
}

.navbar-toggle {
  display: none;
}

.navbar-brand {
  margin-left: -15px;
}

#contents{
     padding-bottom:140px; /*フッターの高さと同じ*/
}

.container {
  max-width: none !important;
  width: 970px;
}

footer{
	height: 80px;
  position:absolute;
  bottom:0;
}

.fixed {
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    z-index: 10000;
}


