/*親要素E5a34e*/
/*heder #00618D*/

html,body{
     height:100%;
     font-family: 'Helvetica Neue', Helvetica, Arial, Roboto, 'Droid Sans', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'ヒラギノ角ゴ       Pro W3', 'Hiragino Kaku Gothic ProN', sans-serif;
}

ul{
		list-style-type: none;
}
#wrap{
     width: 100%;
     position: relative;
     height:auto !important; /*IE6対策*/
     height: 100%; /*IE6対策*/
     min-height: 100%;
}

#service_name{
  font-size: 15px;
}

nav {
	list-style: none;
  min-width: 940px;
  /*margin-bottom: 100px;*/
}

ul li {
	float: right;
}

#logo{
  float:left;
  margin:8px 0;
}

#logozone{
  width:30px;
}
.clear{
	clear: both;
}

.navbar-collapse {
  display: block !important;
  height: auto !important;
  padding-bottom: 0;
  overflow: visible !important;
}

.navbar-brand {
  margin-left: -15px;
}
.nav_pull-right{
	margin: 20px 0;
}

.nav_pull-right li{
		margin: 0 5px 0 5px;
}

a.dropdown-toggle{
  color:white;
  vertical-align: middle;
}

a.dropdown-toggle:hover{
  color: #ffffff;
  text-decoration: none;
}


#contents{
     padding-bottom:80px; /*フッターの高さと同じ*/
}

span#parentOrAll{
  color:#00618D;
}
span#readorder{
  color:#00618D; 
}
span#ABCorder{
  color:#00618D; 
}
span#timeorder{
  color:#00618D; 
}

.container {
  max-width: none !important;
  width: 970px;
}

footer{
  /*margin-top: 50px;*/
	height: 80px;
  position:absolute;
  bottom:0;
}

footer p{
	float: right;
	color: #ffffff;
	margin: 25px 0 0 0;
}

.fixed {
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    z-index: 10000;
}

.navbar-inverse .navbar-inner {
  color:#fff;
}



.copyright{
    text-align:right;
    margin:0.5em auto;
    display:block;
    color: #fff;
    padding-right:10px;
}

a.navbar-brand{
  color:#fff;
}
a:hover.navbar-brand{
  color:#fff;
}

#newGroup{
  color:#000;
}

.btn-custom {
  background-color: hsl(360, 72%, 62%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e35858", endColorstr="#e35858");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#e35858), to(#e35858));
  background-image: -moz-linear-gradient(top, #e35858, #e35858);
  background-image: -ms-linear-gradient(top, #e35858, #e35858);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e35858), color-stop(100%, #e35858));
  background-image: -webkit-linear-gradient(top, #e35858, #e35858);
  background-image: -o-linear-gradient(top, #e35858, #e35858);
  background-image: linear-gradient(#e35858, #e35858);
  border-color: #e35858 #e35858 hsl(360, 72%, 62%);
  color: #fff !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.00);
  -webkit-font-smoothing: antialiased;
}

.ie{
   behavior: url(border-radius.htc);/* 角丸forIE */
}


.inner{
	margin: 0 100px 0 0;
}

